body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-weight: 300;
}

.pebble-preview {
  height: 279px;
  background-image: url('../images/pebble.png');
  background-origin: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image-container {
  position: relative;
  padding-top: 77px;
  margin: 0 auto;
  width: 110px;
  height: 128px;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.image-container img {
  width: 100%;
  -webkit-animation: slide 9s ease infinite both;
  animation: slide 9s ease infinite both;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0%);
  }
  28% {
    -webkit-transform: translateX(0%);
  }
  33% {
    -webkit-transform: translateX(-100%);
  }
  62% {
    -webkit-transform: translateX(-100%);
  }
  67% {
    -webkit-transform: translateX(-200%);
  }
  95% {
    -webkit-transform: translateX(-200%);
  }
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  28% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  62% {
    transform: translateX(-100%);
  }
  67% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(-200%);
  }
}

.btn {
  display: block;
  padding: 0.7em 0.57em;
  margin: 16px 0;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  -webkit-transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.hidden {
  display: none;
}

.btn:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn.btn-blue {
  background-color: #4285f4;
}

.btn.btn-blue:hover {
  background-color: #62A5ff;
}

.btn.btn-red {
  background-color: #e51c23;
}

.btn.btn-red:hover {
  background-color: #ff5c73;
}
